* { 
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 20px;
}

.nav {
    background-color: rgb(72, 72, 72);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #14A2B8;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}